<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>

    <div class="nav-bar">
      <a  href="/Home">Home</a>
      <a class="active" href="/About">About</a>
      <a  href="/Works">Career</a>
    </div>

    <div class="main-div">
      <div class="sc-img">
        <img src="/images/steve-carell.jpg" class="sc-img">
      </div>
      <div class="principal-text-div">
        <h1>Steve Carell</h1>
        <p>
          Steven John Carell was born August 16, 1962 in Concord, Massachusetts and is the youngest of four brothers. Carell is an American actor and comedian, especially known by his role as Michael Scott in The Office, a NBC’s adaptation of the British  series created by Ricky Gervais and Stephen Merchant, where Carell also worked as an occasional producer, writer and director.
        </p>
  
        
      </div>
    </div>

    



  </body>
</html>
