<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="nav-bar">
      <a href="/Home">Home</a>
      <a href="/About">About</a>
      <a class="active" href="/Works">Career</a>
    </div>

    <div class="career">
      <h1>Career</h1>

      <img src="/images/michael-scott-career.png" class="ms-career-img" />

      <p class="general-paragraph">
        The most iconic role of Steve Carell is undoubtedly his portrayal of
        Michael Scott in the TV series "The Office." Michael Scott, the bumbling
        and awkward regional manager of Dunder Mifflin's Scranton branch, became
        a cultural phenomenon and is often regarded as one of the greatest
        comedic characters in television history. Steve Carell's performance as
        Michael Scott was a perfect blend of hilarity cringe-worthy moments, and
        genuine heart. He brought the character to life with his impeccable
        comedic timing and ability to make the audience both laugh and
        sympathize with Michael's antics and struggles.
      </p>

      <p class="general-paragraph">
        Armed with a "World's Best Boss" mug, Michael created a workplace utopia
        filled with laughter and quirky management techniques. His infamous
        "That's what she said" catchphrase became a cultural phenomenon,
        spreading faster than a cold in an office. Michael's journey was one of
        friendship, love, and comedic brilliance.
      </p>
    </div>

    <div class="movies">
      <h1>Steve Carell/Appears in</h1>

      <div class="container">
        <img src="/images/anchorman.jpg" alt="" />

        <img src="/images/the-40-years-old-virgin.jpg" alt="" />

        <img src="/images/evan-almighty.jpeg" alt="" />

        <img src="/images/get-smart.jpg" alt="" />

        <img src="/images/date-night.jpg" alt="" />

        <img src="/images/despicable-me.jpg" alt="" />

        <img src="/images/crazy-stupid-love.jpg" alt="" />

        <img src="/images/the-way-way-back.jpg" alt="" />

        <img src="/images/foxcatcher.jpeg" alt="" />

        <img src="/images/little-miss-sunshine.jpeg" alt="" />

        <img src="/images/the-big-short.jpg" alt="" />

        <img src="/images/battle-of-sexes.jpg" alt="" />

        <img src="/images/the-morning-show.jpeg" alt="" />

        <img src="/images/space-force.jpg" alt="" />

        <img src="/images/the-patient.jpg" alt="" />
      </div>
    </div>
  </body>
</html>

<!-- <ul class="movies-list images">
  <li>The Daily Show (1999-2005)</li>
  <li>
    Anchorman: The Legend of Ron Burgundy (2004) and its sequel (2013)
  </li>
  <li>The 40-Year-Old Virgin (2005)</li>
  <li>Evan Almighty (2007)</li>
  <li>Get Smart (2008)</li>
  <li>Date Night (2010)</li>
  <li>Despicable Me (2010)</li>
  <li>Crazy, Stupid, Love (2011)</li>
  <li>The Way, Way Back (2013)</li>
  <li>Foxcatcher (2014)</li>
  <li>Little Miss Sunshine (2006)</li>
  <li>The Big Short (2015)</li>
  <li>Battle of the Sexes (2017)</li>
  <li>The Morning Show (2019–present)</li>
  <li>Space Force (2020–2022)</li>
  <li>The Patient (2022)</li>
</ul> -->
